# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/run/
/run/config/
/run/crash-reports/
/run/defaultconfigs/
/run/downloads/
/run/logs/
/run/mods/
/run/resourcepacks/
/run/saves/
/run/schematics/
/run/command_history.txt
/run/options.txt
/run/usercache.json
/run/usernamecache.json
/.idea/
